# Tempoary files
*.pyc
*.swp

# Backup files
*.bak

# Wing IDE project files
*.wpr
*.wpu

# Eclipse/pydev project files
.project
.pydevproject

#VS code project files
.vscode

# private scripts
all.sh
full.sh
#map_build.sh
map_upload.sh
repeaters/data/upload_data.sh

# generated data files
repeaters/data/data.zip
repeaters/data/data.zip.bak
repeaters/data/prism.ldb
repeaters/data/prism.mdb
repeaters/data/prism.sqlite
repeaters/data/prism.sqlite.bak
repeaters/data/version

# Build
MANIFEST
*.exe
*.tar.gz
*.zip
*.pyd
*.dll
build/*

# Application Output files
*.kml
*.kmz
# Application output files in the root of the project
/*.csv
/*.html

# Externaly supplied MDB data file
/repeaters/data/prism.mdb
