repeaters/data/prism.sqlite
repeaters/data/prism.sqlite.bak
repeaters/data/version
*.pyc
*.swp
*.wpr
*.wpu
# private scripts
map_build.sh
repeaters/data/upload_data.sh
# Output files
*.kml
*.kmz
# Build
MANIFEST
build/lib/*
build/scripts*/*
*.exe
*.tar.gz
*.zip
*.pyd
*.dll
build/bdist.*/*

